<style>
  aside a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    flex: 1
  }

  aside a:hover {
    background-color: #ddd;
    color: #000
  }

  .active {
    background-color: #22c55e
  }
</style>
<aside>
  <a href="/inbox" class="<%= main === 'inbox' ? 'active' : '' %>">Inbox</a>
  <a href=" /outbox" class="<%= main === 'outbox' ? 'active' : '' %>">Outbox</a>
  <a href="/compose" class="<%= main === 'compose' ? 'active' : '' %>">Compose</a>
</aside>
