<!-- TODO: Adapt index.js to display errors dynamically -->
<main>
  <h1>
    <!-- TODO: Handle undefined, null -->
    Error <%=code%> - <%=message%>
  </h1>
  <!-- TODO: Handle undefined, null -->
  <%=additionalHtml%>
</main>
