<main>
  <form action="/" method="post">
    <h1>Sign In</h1>
    <label>Email:</label><br>
    <input type="email" name="email" required><br>
    <label>Password:</label><br>
    <input type="password" name="password" required><br>
    <input type="submit" value="Sign In">
  </form>
  <br>
  <a href="/signup">Sign Up</a>
</main>
<link rel="stylesheet" href="styles/signin.css">
