<style>
  form {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333
  }

  form label {
    width: 100%;
    max-width: 480px;
    align-self: auto
  }

  form button,
  form input {
    border-radius: 4px;
    width: 100%
  }

  form input {
    max-width: 480px;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc
  }

  form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: 0;
    cursor: pointer
  }

  .container-below {
    margin: 20px auto;
    text-align: center;
    color: #555
  }

  .container-below a {
    color: #4caf50;
    text-decoration: none
  }

  .container-below a:hover {
    text-decoration: underline
  }

  .error-messages {
    color: #ef4444;
    margin-top: 20px;
    margin-bottom: 20px
  }
</style>
<main>
  <form action="/" method="post">
    <h1>Sign In</h1>

    <label>Email:</label><br>
    <input type="email" name="email" value="<%= typeof email != 'undefined' && email || '' %>" required><br>

    <label>Password:</label><br>
    <input type="password" name="password" value="<%= typeof password != 'undefined' && password || '' %>" required><br>

    <input type="submit" value="Sign In">

    <% if (typeof errMessages !='undefined' && errMessages && errMessages.length> 0) { %>
    <div class="error-messages">
      <% errMessages.forEach(function(message) { %>
      <p>
        <%= message %>
      </p>
      <% }); %>
    </div>
    <% } %>
    <a href="/signup">Sign Up</a>
  </form>
</main>
