* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
}

header {
  width: 200px;
  background-color: #333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
