nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav * {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}

nav *:hover {
  text-decoration: underline;
}
